<header>
    <nav>
        <ul>
            <li><a href="{% url 'freelancer:home' %}">Home</a></li>
            <li><a href="{% url 'freelancer:services' %}">service</a></li>
            <li><a href="{% url 'freelancer:blog' %}">blog</a></li>
            <li><a href="{% url 'freelancer:testimonials' %}">testimonials</a></li>
            <li><a href="{% url 'freelancer:pricing' %}">pricing</a></li>
            <li><a href="{% url 'freelancer:case_studies' %}">case_studies</a></li>
        </ul>
    </nav>
</header>